<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Gestão</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

  <div class="card">
    <h1>Sistema de Gestão</h1>
    <p>Bem-vindo ao sistema desenvolvido com Flask.</p>

    <nav>
      <a href="/">Início</a>
      <a href="/sobre">Sobre</a>
      <a href="/contato">Contato</a>
    </nav>
  </div>

  <footer>
    © 2026 - Sistema de Gestão
  </footer>

<script src="{{ url_for('static', fimename='js/script.js')}}"> </script>

</body>
</html>